modules = ["nodejs-20", "web", "postgresql-16", "python-3.11"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-24_05"
packages = ["glibcLocales"]

[deployment]
deploymentTarget = "autoscale"
build = ["npm", "run", "build"]
run = ["npm", "run", "start"]

[[ports]]
localPort = 5000
externalPort = 80

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[agent]
integrations = ["javascript_database==1.0.0", "javascript_websocket==1.0.0", "javascript_supabase==1.0.0", "javascript_object_storage==1.0.0", "javascript_paypal==1.0.0", "javascript_sendgrid==1.0.0", "javascript_stripe==1.0.0", "javascript_log_in_with_replit==1.0.0"]

[objectStorage]
defaultBucketID = "replit-objstore-b2232dc7-b6e5-4481-8e63-8a93640a7334"
